mkdocs==1.6.1
mkdocs-material[imaging]==9.6.20
mkdocstrings[python]==0.26.0
mkdocs-material-extensions
mkdocs-autorefs
mkdocs-redirects
mkdocs-click
pymdown-extensions>=10.7
pillow
cairosvg
msgspec
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-macros-plugin
mdx-include
